USE [master]
GO
/****** Объект:  Database [TradeCenterDB]    Дата создания скрипта: 19.06.2026 20:13:32 ******/ 
CREATE DATABASE [TradeCenterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TradeCenterDB', FILENAME = N'C:\Users\Света\TradeCenterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TradeCenterDB_log', FILENAME = N'C:\Users\Света\TradeCenterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TradeCenterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TradeCenterDB]
GO
/****** Объект:  Table [dbo].[Order]    Дата создания скрипта: 19.06.2026 20:13:33 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[UserId] [int] NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderItem]    Дата создания скрипта: 19.06.2026 20:13:33 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductArticle] [nvarchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Product]    Дата создания скрипта: 19.06.2026 20:13:33 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Article] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Price] [int] NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Discount] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Photo] [nvarchar](100) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[User]    Дата создания скрипта: 19.06.2026 20:13:34 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [OrderNumber], [OrderDate], [DeliveryDate], [UserId], [Code], [Status]) VALUES (1, 1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 10, N'901', N'Завершен')
INSERT [dbo].[Order] ([Id], [OrderNumber], [OrderDate], [DeliveryDate], [UserId], [Code], [Status]) VALUES (2, 2, CAST(N'2025-03-28' AS Date), CAST(N'2025-04-21' AS Date), 7, N'789', N'В обработке')
INSERT [dbo].[Order] ([Id], [OrderNumber], [OrderDate], [DeliveryDate], [UserId], [Code], [Status]) VALUES (3, 3, CAST(N'2026-02-20' AS Date), CAST(N'2026-04-22' AS Date), NULL, N'852', N'Завершен')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([Id], [OrderId], [ProductArticle], [Quantity]) VALUES (1, 1, N'А112Т4', 2)
INSERT [dbo].[OrderItem] ([Id], [OrderId], [ProductArticle], [Quantity]) VALUES (2, 2, N'G843H5', 1)
INSERT [dbo].[OrderItem] ([Id], [OrderId], [ProductArticle], [Quantity]) VALUES (3, 2, N'А112Т4', 1)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
INSERT [dbo].[Product] ([Article], [Name], [Unit], [Price], [Author], [Manufacturer], [Category], [Discount], [Amount], [Description], [Photo]) VALUES (N'B653G6', N'Русский язык: Первые шаги. Часть 3. Учебное пособие', N'шт.', 2699, N'Любовь Беликова, Инна Ерофеева, Татьяна Шутова', N'Златоуст', N'Учебное пособие', 8, 9, N'Пособие является завершающей частью учебного комплекса. Третья часть содержит 10 уроков (21-30, последний-повторительный). Усвоение лексико-грамматического материала рассчитано примерно на 200-240 часов аудиторных занятий.', N'17.jpg')
INSERT [dbo].[Product] ([Article], [Name], [Unit], [Price], [Author], [Manufacturer], [Category], [Discount], [Amount], [Description], [Photo]) VALUES (N'C346F5', N'Квантовые миры и возникновение пространства-времени', N'шт.', 1349, N'Шон Кэрролл', N'Прогресс книга', N'Учебник для вузов', 5, 4, N'Шон Кэрролл — физик-теоретик и один из самых известных в мире популяризаторов науки — заставляет нас по-новому взглянуть на физику. Столкновение с главной загадкой квантовой механики полностью поменяет наши представления о пространстве и времени.', N'8.jpg')
INSERT [dbo].[Product] ([Article], [Name], [Unit], [Price], [Author], [Manufacturer], [Category], [Discount], [Amount], [Description], [Photo]) VALUES (N'D325D4', N'Девайс', N'шт.', 1599, N'Кирилл Каланджи', N'Т8 Издательские технологии', N'Художественная литература', 5, 12, N'Молодой фрилансер Захар Скаро устраивается на очередную подработку. Задача, казалось бы, тривиальная: тестирование нового устройства. Вот только вопрос в том, тестированием какой реальности занимается этот новый Девайс?', N'3.jpg')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Role], [FullName], [Login], [Password]) VALUES (1, N'Администратор', N'	Никифорова Анна Семеновна', N'94d5ous@gmail.com
', N'uzWC67
')
INSERT [dbo].[User] ([Id], [Role], [FullName], [Login], [Password]) VALUES (2, N'Администратор
', N'Стелина Евгения Петровна
', N'uth4iz@mail.com
', N'2L6KZG
')
INSERT [dbo].[User] ([Id], [Role], [FullName], [Login], [Password]) VALUES (3, N'Администратор
', N'Михайлюк Анна Вячеславовна
', N'5d4zbu@tutanota.com
', N'rwVDh9
')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Объект:  Index [IX_Order]    Дата создания скрипта: 19.06.2026 20:13:34 ******/ 
CREATE UNIQUE NONCLUSTERED INDEX [IX_Order] ON [dbo].[Order]
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [IX_User]    Дата создания скрипта: 19.06.2026 20:13:34 ******/ 
CREATE UNIQUE NONCLUSTERED INDEX [IX_User] ON [dbo].[User]
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Product] FOREIGN KEY([ProductArticle])
REFERENCES [dbo].[Product] ([Article])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Product]
GO
USE [master]
GO
